body {
    background-color: #FFFDF0;
    font-size: 20px;
    line-height: 2;
}
h1 {
    color: #002E7A;
}
h2 {
    color: #002E7C;
}
p {
    color: 000000;
    max-width: 65ch;
}
div#fixedheader{
    width:100%;
    top:0px;
    left:0px;
    height: 50px;
    padding:20px;
    position:relative;
    background-color: #E6CFCF;
    color: #002E7C;
    font-size: 30;
    font-style: bold;
}